body{ background-color: hsl(217, 54%, 11%); font-family: 'Outfit', sans-serif;}

.card{ 

  display: flex;
  align-items: center;
  justify-content: center;
   
    

}

.container{ 
  border: 3px solid hsl(216, 50%, 16%);
  padding: 20px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 25px;}

  .imageContainer:hover {
    opacity: 1;
  }

.text{color:#8BACD9}

#greenText{color:  #00FFF8;}
#daysLeftText{color:#8BACD9}
.whiteText{color: white;}


.parentFlex{  
  
  display: flex; 
  justify-content: space-between; }

img{ border-radius: 25px;}
.container {
  
    padding: 2px 16px;
  }
span{color: white;  font-size:18px;}

#line{border: 2px bottom grey}


@media screen and (min-width: 375px) {
 
}